<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <log4net>
    <appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="logs/EveAIO.log" />      
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <datePattern value="yyyyMMdd" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="1MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%date] - %message%newline" />
      </layout>
    </appender>
    <logger name="logger">
      <level value="DEBUG" />
      <appender-ref ref="FileAppender" />
    </logger>
  </log4net>
</configuration>